h1 {
  color: khaki;
  font: bold 100px Helvetica;
  text-align: center;
  background-image: url('https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-2/pattern.jpeg');
  opacity: 0.4;
}

h2 {
  font: bold 32px Helvetica;
  color: white;
}

h3, p {
  font-family: Helvetica;
}

span.blue {
  font-family: Helvetica;
  font-weight: bold;
  color: blue;
}

.lc {
  background-color: lightcoral;
}

.gr {
  background-color: mediumspringgreen;
}

.bl {
  background-color: skyblue;
}